.newPetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1.5rem 0;
  background-color: var(--gray-800);
  border-radius: 8px;
}

.newPetForm > h2 {
  line-height: 1.6;
  color: var(--gray-100);
  margin-bottom: 2rem;
}

.newPetForm input {
  width: 70%;
  background: var(--gray-900);
  border: 0;
  height: 3rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4rem;
  margin-top: 1rem;
}

.newPetForm select {
  width: 70%;
  background: var(--gray-900);
  border: 0;
  height: 3rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4rem;
  margin-top: 1rem;
}

.newPetForm button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.newPetForm button:hover {
  background: var(--green-300);
}

.backLink {
  margin-top: 1rem;
  color: var(--green-500);
}

